@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

.title-heading {
  font-size: 40px;
  font-family: "Mochiy Pop P One", sans-serif;
}
nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
ul {
  display: flex;
  column-gap: 20px;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

li a {
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  font-family: "Poppins", sans-serif;
}
.container-1 {
  display: flex;
  gap: 100px;
  padding: 0 30px 50px;
  margin: 25px;
}
.first-heading {
  font-size: 55px;
}

.booking-arrow {
  text-decoration: none;
  background-color: #e02c6d;
  color: antiquewhite;
  padding: 10px 24px;
  border-radius: 25px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in;
}
.booking-arrow:hover {
  transform: scale(1.01);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.first-section-image {
  background-image: url(./influencer-gear-main/images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  transition: 0.5s ease-in-out;
}
.first-section-image:hover {
  transform: scale(1.1);
}
.container-2 {
  align-items: center;
  justify-content: center;
  margin: 1% 9%;
  padding: 30px 25px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 1100px;
}
.container-3 {
  width: 1150px;
  margin-left: 8%;
}
.heading-2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 50px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0 30px;
}
.product {
  padding: 15px;
  flex-direction: column;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  justify-content: center;
  margin: 0px 0px;
  transition: 0.3s ease-in;
}
.product:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.product > * {
  margin: 0px;
}
.product img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.prodcut-name {
  font-size: 28px;
}
.product-price {
  font-size: 24px;
}
.product-rattings {
  color: #fb8200;
  font-size: 14px;
  font-weight: 700;
}
.see-more {
  display: flex;
  justify-content: flex-end;
}
.see-button {
  background-color: #e02c6d;
  color: antiquewhite;
  padding: 10px 24px;
  border-radius: 25px;
  box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  border: none;
}
.see-button:hover {
  transform: translateX(5px);
}
.self {
  display: flex;
  width: 80%;
  margin: 10%;
  gap: 50px;
}
.last-heading {
  font-size: 35px;
  color: rgba(37, 37, 114, 0.904);
}
.read {
  text-decoration: none;
  padding: 8px 12px;
  background-color: rgb(24, 105, 129);
  border-radius: 15px;
  color: lavender;
}
footer {
  background-color: #0a0826;
  text-align: center;
  padding: 30px;
  color: #ffffff;
  line-height: 10px;
  margin: -10px;
}
.copuright {
  font-size: 14px;
  padding-top: 15px;
}
.connect-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 10px;
}
.link {
  text-decoration: none;
  color: #ffffff;
  font-size: 28px;

  background-color: rgba(176, 174, 199, 0.145);
  padding: 16px;
  border-radius: 100%;
  transition: 0.9s ease-in-out;
}
.link:hover {
  background-color: transparent;
  transform: scale(1.25);
}

/* responsive */
