body {
  font-family: "Poppins", sans-serif;
}
.container-1 {
  display: flex;
  gap: 100px;
  padding: 0 30px 50px;
  margin: 25px;
}
.first-heading {
  font-size: 55px;
}

.booking-arrow {
  text-decoration: none;
  background-color: #e02c6d;
  color: antiquewhite;
  padding: 10px 24px;
  border-radius: 25px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in;
}
.booking-arrow:hover {
  transform: scale(1.01);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.first-section-image {
  background-image: url(./influencer-gear-main/images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
.container-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 24px;
  padding: 30px 0;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
.container-3 {
  width: 1150px;
  margin-left: 8%;
}
.heading-2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 50px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0 30px;
}
.product {
  padding: 15px;
  flex-direction: column;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  justify-content: center;
  margin: 0px 0px;
  transition: 0.3s ease-in;
}
.product:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.product > * {
  margin: 0px;
}
.product img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.prodcut-name {
  font-size: 28px;
}
.product-price {
  font-size: 24px;
}
.product-rattings {
  color: #fb8200;
  font-size: 14px;
  font-weight: 700;
}
.see-more {
  display: flex;
  justify-content: flex-end;
}
.see-button {
  background-color: #e02c6d;
  color: antiquewhite;
  padding: 10px 24px;
  border-radius: 25px;
  box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  border: none;
}
.see-button:hover {
  transform: translateX(5px);
}
.self {
  display: flex;
  width: 80%;
  margin: 10%;
  gap: 50px;
}
.last-heading {
  font-size: 35px;
  color: rgba(37, 37, 114, 0.904);
}
.read {
  text-decoration: none;
  padding: 8px 12px;
  background-color: indianred;
  border-radius: 15px;
  color: lavender;
}
